<h1><%= @title %></h1>
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Moods</title>
   <link rel="stylesheet" href="stylesheets/foundation.css" />
   
  <script src="javascripts/vendor/modernizr.js"></script>
   <script src="javascripts/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" href="/stylesheets/app.css" />
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  
   
</head>
<body>

  <script type="text/javascript">
    var comments_array = <%= @all_user_moods.inspect %>
    var colors_array = <%= @arr.inspect %>
    var root = <%= @root.inspect%>
  </script>
     


  <div class="header">
  <div class ="title">mOOdY 1.0</div>
  <div class="inline_block">
   <% if signed_in? %>
          <li style="color:#088DA5"> <%= current_user.name %></a></li>
          <li ><a href="/sign_out" style="color:#ED197D;list-style-type:none">Sign out</a></li>
        <% else %>
          <li ><a href="/auth/github" style="color:#088DA5">Sign in Github</a></li>
           <li><a href="/auth/google_oauth2" style="color:white">Sign in Google</a></li>
        <% end %>
  </div>      
  </div>

    <div id="main">`
       <div id="1"><img src="images/orange.png"/></div>
       
       <div id="2"><img src="images/blue.png"/></div>
      
       <div id="3"><img src="images/gray.png" style="margin-top:-5px"></div>

       <div id="4"><img src="images/olive.png"/></div>
       <div id="5"><img src="images/red.png"/></div>
       <div id="6"><img src="images/purple.png"/></div>

   </div>
   <form>
   <!--method='POST' action='/moods'--> 
   <div id="radio_main">
    <!--<label for="happy" id="form_label" style="font-size:2em">PICK YOUR MOOD</label>-->
   

   
    <div>&nbsp</div>


    
    
    <input  class ="radio" type="checkbox" name="orange" id="orange" value="happy" checked> HAPPY 
    <input class ="radio" type="checkbox" name="blue" value="blue" > SAD 
    <input class ="radio" type="checkbox" name="gray" value="gray"> MEH 
    <input class ="radio" type="checkbox" name="olive" value="olive"> ZEN 
    <input class ="radio" type="checkbox" name="red" value="red"> F**K THIS ! 
    <input class ="radio" type="checkbox" name="purple" value="purple"> CRAZY EYES 
    
    </div>
    <div>&nbsp</div>


  <div class="input_text">
   <input type="text" class="comment_text" name="comments" placeholder="I feel....">
  </div>
  <div>&nbsp</div>

  <div class="input_text">
  <input type="submit" class = "largebutton" value = "MOOD IT !" />
  </div>

  <div>&nbsp</div>
  <div>&nbsp</div>
  </form>  

   <form>
   
   <!--method='get' action='/moods'--> 
  <div class="root_input_text">
   <input type="text" class="root_text" name="root" placeholder="Root..">
   
  </div>
  <div class="user_input_text">

   <%@all_users.each do|user|%>

    <input class ="radio" type="checkbox" name="<%=user%>" value="<%=user%>" > <%=user%> 
   <%end%>
  <div>&nbsp</div>
  <input type="submit" class = "medbutton" value = "TREE IT !" />
  </div>
  </form>

  <div>&nbsp</div>
  <div>&nbsp</div>
  <div>&nbsp</div>
  <script type="text/javascript" src="javascripts/jsapi.js"></script>
      <script src="javascripts/wordtree.js"></script>
     <script src="javascripts/ajax.js"></script>

      <div class ="widget">
        <div id="wordtree_basic" style="width: 900px; height: 500px;margin-left:auto;margin-right:auto"></div>
        <div id="piechart" style="width: 900px; height: 500px;margin-left:auto;margin-right:auto"></div>
      </div>
   
   
      
         
      
</body>
</html>


